.bg-bumblebee {
    background-color: #ffb101;
}

.color-bumblebee {
  color: #ffb101;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.vh-25 {
    height: 25vh !important;
}

.vh-50 {
    height: 50vh !important;
}

.vh-75 {
    height: 75vh !important;
}

.vh-100 {
    height: 100vh !important;
}

.h-30 {
    height: 30%;
}
